<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AwesomeProject_test</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.reactjs.native.example.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bitter-Bold.ttf</string>
		<string>Bitter-Italic.ttf</string>
		<string>Bitter-Regular.ttf</string>
		<string>IndieFlower.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-BoldItalic.ttf</string>
		<string>JosefinSans-Italic.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-LightItalic.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-SemiBoldItalic.ttf</string>
		<string>JosefinSans-Thin.ttf</string>
		<string>JosefinSans-ThinItalic.ttf</string>
		<string>Kanit-Black.ttf</string>
		<string>Kanit-BlackItalic.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-BoldItalic.ttf</string>
		<string>Kanit-ExtraBold.ttf</string>
		<string>Kanit-ExtraBoldItalic.ttf</string>
		<string>Kanit-ExtraLight.ttf</string>
		<string>Kanit-ExtraLightItalic.ttf</string>
		<string>Kanit-Italic.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-LightItalic.ttf</string>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-MediumItalic.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-SemiBold.ttf</string>
		<string>Kanit-SemiBoldItalic.ttf</string>
		<string>Kanit-Thin.ttf</string>
		<string>Kanit-ThinItalic.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>Oxygen-Bold.ttf</string>
		<string>Oxygen-Light.ttf</string>
		<string>Oxygen-Regular.ttf</string>
		<string>Prompt-Black.ttf</string>
		<string>Prompt-BlackItalic.ttf</string>
		<string>Prompt-Bold.ttf</string>
		<string>Prompt-BoldItalic.ttf</string>
		<string>Prompt-ExtraBold.ttf</string>
		<string>Prompt-ExtraBoldItalic.ttf</string>
		<string>Prompt-ExtraLight.ttf</string>
		<string>Prompt-ExtraLightItalic.ttf</string>
		<string>Prompt-Italic.ttf</string>
		<string>Prompt-Light.ttf</string>
		<string>Prompt-LightItalic.ttf</string>
		<string>Prompt-Medium.ttf</string>
		<string>Prompt-MediumItalic.ttf</string>
		<string>Prompt-Regular.ttf</string>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-SemiBoldItalic.ttf</string>
		<string>Prompt-Thin.ttf</string>
		<string>Prompt-ThinItalic.ttf</string>
		<string>PT_Sans-Narrow-Web-Bold.ttf</string>
		<string>PT_Sans-Narrow-Web-Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>icomoon.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>WendyOne-Regular.ttf</string>
		<string>Itim-Regular.ttf</string>
		<string>MosseThai-Black.otf</string>
		<string>MosseThai-Bold.otf</string>
		<string>MosseThai-Book.otf</string>
		<string>MosseThai-ExtraBold.otf</string>
		<string>MosseThai-ExtraLight.otf</string>
		<string>MosseThai-Light.otf</string>
		<string>MosseThai-Medium.otf</string>
		<string>MosseThai-Regular.otf</string>
		<string>MosseThai-Thin.otf</string>
	</array>
</dict>
</plist>
